{
  "version": 1.0,
  "project": "SimplyVulnerable-[${branch}]",
  "team": "/CxServer/satyamchaurasiapersistent",
  "sast": {
    "preset": "",
    "engineConfiguration": "",
    "incremental": "true",
    "forceScan": "true",
    "fileExcludes": "*.pyc, *.test, *.class",
    "folderExcludes": "*test, out/, *bin",
    "publicScan" : "false"
  },
    "emailNotifications": {
    "afterScan": [
      "user1@example.com",
      "user2@example.com"
    ],
    "beforeScan": [
      "user3@example.com",
      "user4@example.com"
    ],
    "failedScan": [
      "user5@example.com",
      "user6@example.com"
    ]
  }
}